@model IEnumerable<MyClass.Model.Products>
@{
    ViewBag.Title = "ShopCategory";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Public/vendors/nouislider/nouislider.min.css">
</head>
<!-- ================ start banner area ================= -->
@using (Html.BeginForm("ShopCategory", "Site", FormMethod.Get, new { id = "MainForm" }))
{
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Shop Category</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->
    <!-- ================ category section start ================= -->
    <section class="section-margin--small mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="sidebar-categories">
                        <div class="head">Browse Categories</div>
                        <ul class="main-categories">
                            <li class="common-filter">
                                <div>
                                    <ul>
                                        <li class="filter-list"><input onchange="submitForm()" class="pixel-radio" type="radio" id="all" value="-1" name="category" @(-1 == int.Parse(ViewBag.CategoryOption) ? "checked" : "")><label for="-1">Tất cả<span> (@Html.Action("CategoryQty", "Site", new { id = "all" }))</span></label></li>
                                        @foreach (var item in ViewBag.CatList)
                                        {
                                            <li class="filter-list"><input onchange="submitForm()" class="pixel-radio" type="radio" id="@item.Id" value="@item.Id" name="category" @(item.Id == int.Parse(ViewBag.CategoryOption) ? "checked" : "")><label for="@item.Id">@item.Name<span> (@Html.Action("CategoryQty", "Site", new { id = item.Id }))</span></label></li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-filter">
                        <div class="top-filter-head">Product Filters</div>
                        <div class="common-filter">
                            <div class="head">Brands</div>
                            <div>
                                <ul>
                                    <li class="filter-list"><input onchange="submitForm()" class="pixel-radio" type="radio" id="all" value="-1" name="supplier" @(-1 == int.Parse(ViewBag.SupplierOption) ? "checked" : "")><label for="-1">Tất cả<span> (@Html.Action("CategoryQty", "Site", new { id = "all" }))</span></label></li>
                                    @foreach (var item in ViewBag.SupplierList)
                                    {
                                        <li class="filter-list"><input onchange="submitForm()" class="pixel-radio" type="radio" id="@item.Id" value="@item.Id" name="supplier" @(item.Id == int.Parse(ViewBag.SupplierOption) ? "checked" : "")><label for="@item.Id">@item.Name<span> (@Html.Action("SupplierQty", "Site", new { id = item.Id }))</span></label></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="common-filter">
                            <div class="head">Price</div>
                            <div class="price-range-area">
                                <div id="price-range"></div>
                                <div class="value-wrapper d-flex">
                                    <div class="price">Price:</div>
                                    <span>$</span>
                                    <div id="lower-value"></div>
                                    <div class="to">to</div>
                                    <span>$</span>
                                    <div id="upper-value"></div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center"><input type="submit" class="button button--active mt-3 mt-xl-4 " value="Apply" /></div>
                            
                        </div>
                    </div>
                </div>
                <input type="text" id="lower-price" name="lowerprice" value="" style="display: none;" />
                <input type="text" id="upper-price" name="upperprice" value="" style="display: none;" />
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <!-- Start Filter Bar -->
                    <div class="filter-bar d-flex flex-wrap align-items-center">
                        <div class="sorting">
                            <select name="sort" onchange="submitForm()">
                                @foreach (var item in ViewBag.SortType)
                                {

                                    <option value="@item.Value" @(ViewBag.sortOption == item.Value ? "selected" : "")>@item.Name</option>
                                }

                            </select>
                        </div>
                        <div class="sorting mr-auto">
                            <select name="recommend" onchange="submitForm()">
                                @foreach (var item in ViewBag.RecommendType)
                                {

                                    <option value="@item.Value" @(ViewBag.recommendOption == item.Value ? "selected" : "")>@item.Name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <div class="input-group filter-bar-search">
                                <input type="text" placeholder="Search" name="search" value="@ViewBag.search">
                                <div class="input-group-append">
                                    <button type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Filter Bar -->
                    <!-- Start Best Seller -->
                    <section class="lattest-product-area pb-40 category-list">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                Html.RenderAction("ProductItem", "Site", new { model = item });
                            }
                        </div>
                    </section>
                    <!-- End Best Seller -->
                </div>
            </div>
        </div>
    </section>
}
<!-- ================ Form auto submit ================= -->
<script>
    window.lowerprice = @ViewBag.lowerprice;
    window.upperprice = @ViewBag.upperprice;
    function submitForm() {
        document.getElementById("MainForm").submit();
    }
</script>
<!-- ================ category section end ================= -->
<!-- ================ top product area start ================= -->
@Html.Action("TopProducts", "Site")

<!-- ================ top product area end ================= -->
<!-- ================ Subscribe section start ================= -->
<section class="subscribe-position">
    <div class="container">
        <div class="subscribe text-center">
            <h3 class="subscribe__title">Get Update From Anywhere</h3>
            <p>Bearing Void gathering light light his eavening unto dont afraid</p>
            <div id="mc_embed_signup">
                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
                    <div class="form-group ml-sm-auto">
                        <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
                        <div class="info"></div>
                    </div>
                    <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
                    <div style="position: absolute; left: -5000px;">
                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>
<!-- ================ Subscribe section end ================= -->

<script src="~/Public/vendors/nouislider/nouislider.min.js"></script>
<!--================ End footer Area  =================-->
